@model Test_task_Xpand.ViewModels.RegisterViewModel

<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
                    <img src="~wwwroot/images/banner.png" alt="IMG">
                </div>


<form class="login100-form" method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <span class="login100-form-title">Sign Up</span>

    <div class="wrap-input100">
       
        <input class="input100"  asp-for="Email" placeholder="Email Address" />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="wrap-input100">

        <input  class="input100" asp-for="Password" placeholder="Password"/>
        <span asp-validation-for="Password"></span>
    </div>

    <div class="wrap-input100">

        <input class="input100" asp-for="PasswordConfirm" placeholder="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="container-login100-form-btn">
        <input class="login100-form-btn btn1" type="submit" value="Register" />
    </div>
</form>